@charset "UTF-8";
@namespace url("http://www.w3.org/1999/xhtml");

/* チェックシート */

:root {
	--margin: 1em;
	--padding-top: 183px;
	--padding-left: 388px;
	--stamp-size: 150px;
	--column: 187px;
	--row: 197px;
	--right-panel-left: 777px;
}

body {
	margin: unset;
}

main dd {
	margin-left: unset;
}

main ul {
	padding-left: unset;
	margin: unset; /* Google Chrome */
}

body > h1,
main dt,
main dd input {
	display: none;
}

body > :not(div, dialog) {
	margin: var(--margin);
}

main {
	width: calc(1600px + var(--margin));
	background: url("checksheet.jpg?20211210") top left no-repeat,
		url("checksheet-quest.jpg") top calc(1400px + var(--margin)) left no-repeat;
}

main:not(:lang("ja")) {
	background-image: url("checksheet-en.jpg"), url("checksheet-quest-en.jpg");
}

main dl {
	margin: unset;
}

main dd {
	margin-left: var(--padding-left);
}

main dd:first-of-type {
	padding-top: var(--padding-top);
}

li[data-location="Parareal Akihabara - パラリアル秋葉原"] {
	position: absolute;
	left: 1166px;
}

dd[data-group="Almerea: The Town of New Beginnings - はじまりの街アルメア"],
dd[data-group="Valhalla of Iron Ravens - 鉄鴉の戦場バトルフィールドオブマキナ"] {
	position: absolute;
	margin-top: calc(-1 * var(--row));
	left: var(--right-panel-left);
}

main dd ul {
	display: flex;
}

main dd > ul > li {
	width: var(--column);
	height: var(--row);
	display: flex;
	justify-content: center;
	align-items: center;
}

main dd label {
	color: transparent;
	display: block;
	width: var(--stamp-size);
	height: var(--stamp-size);
	border-radius: 50%;
	border: solid 1em transparent;
	box-sizing: border-box;
	cursor: pointer;
}

main dd label:hover {
	border-color: #FFAAAAAA;
}

main dd :checked + label {
	background: url("../virtual-market-5/stamp1.png") center/contain no-repeat border-box;
	border-color: transparent;
}

dd[data-group="【Quest】Edo Citadel Redux - 復刻江戸城城下町"] {
	margin-top: 250px;
}

dd[data-group^="【Quest】"] {
	margin-left: 442px;
	--stamp-size: 170px;
	--column: 210px;
	--row: 227px;
	--right-panel-left: 777px;
}

dd[data-group^="【Quest】"] :checked + label {
	background-image: url("../virtual-market-5/stamp2.png");
}

/* チェックリスト */

dt[data-group="Entrance"] {
	margin-top: 50px;
}

dt[data-group="Entrance"],
dt[data-group="Entrance"] ~ dt {
	display: block;
	font-weight: bold;
}

[data-group="Entrance"] ~ dd {
	margin: 0 0 0 2.5em;
}

[data-group="Entrance"] ~ * ul {
	list-style: none;
	font-size: 1.5em;
	padding-left: 0.5em;
	display: block;
}

[data-group="Entrance"] ~ *  li {
	margin: 0.5em;
	width: unset;
	height: unset;
	display: block;
}

[data-group="Entrance"] ~ * input {
	display: inline;
	transform: scale(2);
	margin-right: 0.5em;
}

[data-group="Entrance"] ~ * :is(input, input:checked) + label {
	color: unset;
	background: unset;
	display: inline;
	border-radius: unset;
	border: unset;
}

[data-group="Entrance"] ~ * label::before {
	padding-right: 0.2em;
}
